table {
    margin-bottom: 100px !important;
    tr {
        text-align: center;
        td {
            box-shadow: none !important;
            border: none !important;
        }

        &:nth-child(odd) {
            td {
                color: $clr-red-v1 !important;
            }
        }

        &:nth-child(even) {
            @include bg-color($clr-gainsboro);
        }
    }
}